---
- name: Install dependencies for packit_dashboard
  hosts: all
  vars:
    packit_dashboard_path: /src
  tasks:
    - name: Install all RPM/Python/Node packages needed to run dashboard
      dnf:
        name:
          - python3-pip
          - python3-flask
          - python3-flask-talisman
          - python3-cachetools
          - python3-requests
          - yarnpkg
          - "@nodejs:20"
          - mod_ssl
        state: present

    - name: Install pip deps
      pip:
        name:
          - asyncio
          - hypercorn
          - flask-cors # RPM not in c9s (RHBZ#2100076)
        executable: pip3
