---
- name: This is a recipe for how to cook with packit_dashboard
  hosts: all
  vars:
    home_path: "{{ lookup('env', 'HOME') }}"
    api_url: "{{ lookup('env', 'VITE_API_URL') }}"
    deployment: "{{ 'prod' if api_url == 'https://prod.packit.dev/api' else 'stg' }}"
    packit_dashboard_path: /src/frontend
  tasks:
    - import_tasks: common.yaml
    - import_tasks: httpd.yaml

    - include_tasks: icons.yaml

    - name: install node modules
      command:
        chdir: "{{ packit_dashboard_path }}"
        cmd: yarn install

    - name: bundle javascript
      # TODO: remove this once the Node.js-stack stops using legacy crypto
      environment:
        NODE_OPTIONS: "--openssl-legacy-provider"
      command:
        chdir: "{{ packit_dashboard_path }}"
        cmd: yarn run build

    - name: Clean up Node.js modules
      ansible.builtin.file:
        state: absent
        path: "{{ packit_dashboard_path }}/node_modules"
